<div>
  <nav class="navbar navbar-light bg-light Navshadow">
    <div class="container-fluid">
      <a class="navbar-brand text-danger" href="#">
        Ng-WebStroage
      </a>
      <small >V2.0</small>
      <small style="color: gray; font-size: 10px;">(Angular Web Storge Package)</small>
    </div>
  </nav>

  <br>
  <div class="container-fluid">
    <div class="row">

      <!--Cookie Storage-->

      <div class="col-md-4 col-sm-6">
        <h1> Cookie:</h1>
        <!-- <input value="cookieValue1" type="text" class="w-75 form-control mb-1" name="cookieName" id="" placeholder="Enter Cookies Name"> -->
        <button class="btn btn-primary" (click)="setCookie()"> set Cookie </button>
        <br>
        <!-- <input type="text" class="w-75 mt-3 form-control" name="cookieName" id="" placeholder="Enter Cookies Name"> -->
        <button class="btn btn-primary mt-2 " (click)="getCookie()"> get Cookie </button>
        {{getCookiesdata}}
        <br>
        <!-- <input type="text" class="w-75 mt-3  form-control" name="cookieName" id="" placeholder="Enter Cookies Name"> -->
        <button class="btn btn-primary mt-2 mb-3" (click)="removeCookie()"> Remove Cookie </button>
        <br>
        <!-- <label class="form-label">Remove all Cookie data:</label><br> -->
        <button class="btn btn-primary mt-2" (click)="removeAllCookie()"> Remove All Cookie </button>
      </div>

      <!--Local Storage -->

      <div class="col-md-4 col-sm-6">
        <h1> Local Storage:</h1>
        <!-- <input type="text" class="w-75 form-control mb-1" name="localStorage" id="" -->
          <!-- placeholder="Enter localStorage Name"> -->
        <button class="btn btn-primary " (click)="setLocalstorage()"> set Local Storage Data </button>
        <br>
        <!-- <input type="text" class="w-75 mt-3 form-control" name="cookieName" id="" placeholder="Enter localStorage Name"> -->
        <button class="btn btn-primary mt-2" (click)="getLocalstorage()"> get Local Storage Data </button>
       {{getlocalstoragedata}}
        <br>
        <!-- <input type="text" class="w-75 mt-3  form-control" name="cookieName" id=""
          placeholder="Enter localStorage Name"> -->
        <button class="btn btn-primary mt-2 mb-3" (click)="removeLocalstorage()"> Remove Local Storage Data </button>
        <br>
        <!-- <label class="form-label">Remove all local data:</label><br> -->
        <button class="btn btn-primary mt-2" (click)="removeAllLocalstorage()"> Remove All Local Storage Data </button>
      </div>

<br>

      <!--Session Storage -->



      <div class=" col-md-4 col-sm-6">
        <h1> Session Storage:</h1>
        <!-- <input type="text" class="w-75 form-control mb-1" name="cookieName" id="" placeholder="Enter Session Name"> -->
        <button class="btn btn-primary " (click)="setSessionstorage()"> set Session Storage </button>

        <br>  
        <!-- <input type="text" class="w-75 mt-3 form-control" name="cookieName" id="" placeholder="Enter Session Name"> -->
        <button class="btn btn-primary mt-2 " (click)="getsessionstorage()"> get Session Storage </button>
        {{getsessionstoragedata}}
        <br>
        <!-- <input type="text" class="w-75 mt-3  form-control" name="cookieName" id="" placeholder="Enter Session Name"> -->
        <button class="btn btn-primary mt-2 mb-3" (click)="removesessionstorage()"> Remove Session Storage </button>

        <br>
        <!-- <label class="form-label">Remove all session data:</label><br> -->
        <button class="btn btn-primary mt-2" (click)="removeAllsessionstorage()"> Remove All Session Storage </button>
      </div>
    </div>
  </div>
</div>

<!--
  Documentation
-->